<%- include('header'); %>

    <%- include('dashboard-nav'); %>

      <div id="content-wrapper">

        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Objet</th>
                <th scope="col">Expediteur</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
      
            <% 
              for(var i = 0; i < messagesTab.length; i++){
                if(messagesTab[i].read == true){
                  var read = "fas fa-envelope-open"
                } else {
                  var read = "fas fa-envelope"
                }
            %>
              <tr>
                <td><i class="<%= read %>"></i></td>
                <td><%= messagesTab[i].title %></td>
                <td><%= messagesTab[i].sender %></td>
                <td><%= dateFormat(messagesTab[i].dateExp) %></td>
              </tr>
            <%
              }
            %>

            </tbody>
          </table>


          </div>


        <!-- /.container-fluid -->

<%- include('footer'); %> 