<%- include('header'); %>

    <%- include('dashboard-nav'); %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <div class="card mb-3">
            <div class="card-header">
            <i class="fas fa-table"></i>
             Detail de la commande</div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="order-info" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <thead>
                      <tr>
                        <th>Date Commande</th>
                        <th>Total</th>
                        <th>Frais de port</th>
                        <th>Payée</th>
                        <th>Date Paiement</th>
                        <th>Expédiée</th>
                        <th>Date Exp</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Code postal</th>

                      </tr>
                    </thead>
                  </thead>

                  <tbody>
                    
                    <% 
                      var date_payment = '';
                      if(order.status_payment == 'validated'){
                        var status = "status-success";
                        date_payment = dateFormat(order.date_payment);
                      } else if (order.status_payment == 'refused'){
                        var status = "status-danger";
                      } else if (order.status_payment == 'waiting'){
                        var status = "status-secondary";
                      }
                      if(order.status_shipment == true){
                        var status_shipment = "status-success";
                        var date_shipment = dateFormat(order.date_shipment);
                      } else {
                        var status_shipment = "status-danger";
                        var date_shipment = "";
                      }
                    %>
                      <tr>
                        <td><%= dateFormat(order.date_insert) %></td>
                        <td><%= order.total %>€</td>
                        <td><%= order.shipping_cost %>€</td>
                        <td class="<%= status %>"><i class="fas fa-circle"></i></td>
                        <td><%= date_payment %></td>
                        <td class="<%= status_shipment %>"><i class="fas fa-circle"></i></td>
                        <td><%= date_shipment %></td>
                        <td><%= order.delivery_address %></td>
                        <td><%= order.delivery_city %></td>
                        <td><%= order.delivery_zipcode %></td>
                      </tr>

                  </tbody>
                </table>



                <table id="product-list" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Libelle</th>
                      <th>Description</th>
                      <th>Poids</th>
                      <th>Prix</th>
                      <th>Image</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Libelle</th>
                      <th>Description</th>
                      <th>Poids</th>
                      <th>Prix</th>
                      <th>Image</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  <%
                    for(var i = 0; i < order.articles.length; i++){
                  %>
                    <tr>
                      <td><%= order.articles[i].title %></td>
                      <td><%= order.articles[i].description %></td>
                      <td><%= order.articles[i].weight %>kg</td>
                      <td><%= order.articles[i].price %>€</td>
                      <td><img src="/images/<%= order.articles[i].img %>"></td>
                    </tr>
                  <%
                    }
                  %>
                  </tbody>
                </table>


              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

<%- include('footer'); %> 